.home {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  background-size: cover;
  height: 200vh;
}

.home_p {
  font-size: 25px;
}

.home_p a {
  color: var(--background-color);
}

.home_p a:hover {
  color: var(--background-color);
}
