.home {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  background-size: cover;
}

.home_p {
  font-size: 25px;
}

.home_p a {
  color: var(--light-grey);
}
