@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Jersey+15&family=Kaushan+Script&family=Lobster&family=Pacifico&family=Playwrite+MX+Guides&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-color: #ffd166;
  --secondary-color: #ef476f;
  --btn-color: #06d6a0;
  --background-color: #118ab2;
}

#root {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.app-container {
  height: 100vh;
  width: 100%;
}

button {
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: aliceblue;
  color: rgb(50, 49, 49);
}

button:hover {
  box-shadow: 5px 5px 7px rgba(161, 157, 157, 0.6);
}

.error {
  color: red;
}
